ca.nuttynet {
	reverse_proxy 10.100.0.2:8443 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}

	tls internal
}

vault.nuttynet {
	reverse_proxy 10.100.0.2:9273

	tls {
		issuer acme {
			dir https://ca.nuttynet/acme/acme/directory
			trusted_roots /trust/nuttyverse.crt
		}
	}
}
